body {
  background-color: #D3D3D3;
}
/This sets the colour for my webpage, so on all my pages it is this colour/
/This styles where my text goes and means I don't constantly have to go back putting in the same code as it's already done for me here/
h1 {
  background-color: black;
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: white;
}



p {
  background-color: black;
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: white;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;s
}

/This coding places my media elements in the correct places whenever I use this code as it is now linked/

footer {
  background-color: black;
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: white;
}

.col {
  width: 50%;
  float: left;
}

section::after {
  content: "";
  display: block;
  clear: both;
}
